@charset "utf-8";

@font-face {
    font-family: 'S-Core Dream light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SCDream2.otf') format('woff');
}

@font-face {
    font-family: 'S-Core Dream regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SCDream4.otf') format('woff');
}

@font-face {
    font-family: 'S-Core Dream heavy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SCDream7.otf') format('woff');
}


:root{
    --font-light: 'S-Core Dream light', sans-serif;
    --font-medium: 'S-Core Dream regular', sans-serif;
    --font-heavy: 'S-Core Dream heavy', sans-serif;
    --bgcolor: #121212;
    --bgopacity: rgb(124, 124, 124, 0.2);
    --font-color: white;
    --border-color: white;
    --swiper-pagination-bullet-horizontal-gap: 20px;
}

/*==========main==========*/

*{
    font-family: var(--font-medium);
    color: var(--font-color);
}

body{
    background: var(--bgcolor);
}

header{
    height: 70px;
}

.main-pc{
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    background-color: var(--bgopacity);
    color: white;
}



/*==========시간표==========*/
.timetable{
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 0.5em;
    padding: 0.4em 0.5em;
}
.info{
    width: inherit;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.3em;
    padding: 0.2em 0.4em;
}
.date{
    width: inherit;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.3em;
    padding: 0.2em 0.4em;
    margin-top: 0.4em;
}
.divTable{
    display: table;
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 0.4em;
    border-radius: 5px;
    table-layout: fixed;
    padding: 0.3em 0.1em;
}
.tableRow{
    display: table-row;
}
.tableCol{
    display: table-cell;
    width: 6em;
    height: 2em;
    padding: 0.3em 0.3em;
    vertical-align: middle;
    text-align: center;
    
}
.tableCol{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.tableCol:last-child{
    border-right: 0;
}

.tableRow .tableCol{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tableRow:last-child .tableCol{
    border-bottom: 0;
}

.lunch{
    border-right: 0;
}


/*==========일정==========*/
.header{
    width: 100%;
    text-align: center;
}
.plan{
    margin-left: 50px;
    width: initial;
    height: initial;
    overflow: auto;
    float: left;
    background-color: rgba(255, 255, 255, 0.079);
    border-radius: 5px;
    padding-right: 20px;
}
.plan::-webkit-scrollbar{
    width: 6px;
}
.plan::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
}
.plan-list{
    word-break: keep-all;
    
    margin-right: 20px;
}




footer{
    clear: both;
}


/*==========태블릿==========*/
@media (min-width: 717px) and (max-width:991px) {
    .plan{
        width: 550px;
        min-width: 500px;
        margin-left: 0px;
        margin-top: 50px;
    }
}

/*==========모바일==========*/
@media (min-width:716px) {
    .mobile-main{
        display: none !important;
    }
    .mobile-footer{
        display: none !important;
    }
}
@media (max-width:716px) {
    .timetable{
        display: none !important;
    }
    .plan{
        display: none !important;
    }
    header{
        height: 15px;
    }
}


.mobile-main{
    padding-bottom: 50px;
}
.swiper-container{
    overflow: hidden auto;
}
.swiper-button-next, .swiper-button-prev{
    color: white;
    position: fixed;
}
.swiper-slide *{
    color: rgba(155, 155, 155, 0.5);
}
.swiper-slide-active *{
    color: white;
}
.swiper-pagination{
    position: fixed;
    background-color: var(--bgcolor);
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    bottom: 0 !important;
    height: 50px;
    line-height: 50px;
    
}
.swiper-pagination-bullet{
    background: transparent; opacity: 1;
    
}
.swiper-pagination-bullet span{
    color: rgba(155, 155, 155, 0.5);
}
.swiper-pagination-bullet-active span{
    color: white;
}

.mobile-table{
    width: 100%;
}
.mobile-table-row{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.mobile-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-info-block{
    min-width: 50%;
    max-width: 80%;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 40px;
    text-align: center;
}

.mobile-control{
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-control-date{
    margin-top: 20px;
    margin-bottom: 10px;
}


/*==========설정==========*/
select{
    width: 100px;
    background-color: var(--bgopacity);
}
select#grade{
    width: 50px;
}
select#class{
    width: 50px;
}

option{
    background: gray;
}


/*==========밥==========*/
.main-meal{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    font-size: 1.1rem;
}
.meal{
    background-color: rgb(124, 124, 124, 0.05);
    border-radius: 10px;
    padding: 20px;
    width: 17em;
}
.meal-header-date{
    background-color: rgb(124, 124, 124, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.meal-header-date *{
    height: 2rem;
    border: 0;
    outline: 0;
}
.meal-header-date #prev{
    float: left;
    width: 2em;
    border-right: 1px solid var(--bgopacity);
}
.meal-header-date #date{
    float: left;
    width: 100%;
    border-right: 1px solid var(--bgopacity);
}
.meal-header-date #next{
    float: right;
    width: 2em;
}
.meal-main-list{
    background-color: rgb(124, 124, 124, 0.15);
    border-radius: 5px;
    padding: 0.8em 1em;
    list-style: none;
}
.meal-main-list-item{
    margin-bottom: 10px;
}
.meal-main-list-item:last-child{
    margin-bottom: 0;
}
.meal-footer-kcal{
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 0;
}