/*@charset "utf-8";

@font-face {
    font-family: 'S-Core Dream light';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/SCDream2.otf') format('woff');
}

@font-face {
    font-family: 'S-Core Dream regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/SCDream4.otf') format('woff');
}

@font-face {
    font-family: 'S-Core Dream heavy';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/SCDream7.otf') format('woff');
}


:root{
    --font-light: 'S-Core Dream light', sans-serif;
    --font-medium: 'S-Core Dream regular', sans-serif;
    --font-heavy: 'S-Core Dream heavy', sans-serif;
    --bgcolor: #121212;
    --bgopacity: rgb(124, 124, 124, 0.2);
    --font-color: white;
    --border-color: white;
}

*{
    font-family: 'S-Core Dream regular';
    color: var(--font-color);
}

body{
    background: var(--bgcolor);
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    width: 550px;
    min-width: 500px;
    background-color: var(--bgopacity);
    border: 3px solid var(--border-color);
    border-collapse: collapse;
    border-radius: 5px;
    float: left;
}

td{
    width: 80px;
    height: 40px;
    text-align: center;
    border: 2px solid var(--border-color);
}

button{
    background-color: var(--bgopacity);
    color: white;
}

select{
    width: 100px;
    background-color: var(--bgopacity);
}
select#grade{
    width: 50px;
}
select#class{
    width: 50px;
}

option{
    background: gray;
}
#class1{
    background: yellow;
}

.plan{
    margin-left: 50px;
    width: 300px;
    float: left;
    background-color: var(--bgopacity);
    border: 2px solid var(--border-color);
}

.header{
    width: 100%;
    text-align: center;
}

footer{
    clear: both;
}